data/raw/*
!data/raw/acs_2022.csv
data/processed/*.csv
*.Rproj.user
.Rhistory
.RData
.Ruserdata
__pycache__/
.ipynb_checkpoints/
.DS_Store
output/brief/*.tex
output/brief/*.log
output/brief/*.aux
data/processed/*.duckdb
data/processed/*.parquet
